# SQL Server folders to ignore

## SQL Server folders to ignore
Relational/SQLServer/data
Relational/SQLServer/logs
Relational/SQLServer/secrets

## MongoDB folders to ignore
Non-Relational/MongoDB/data