## PostrgreSQL folders to ignore
Relational/PostgreSQL/data/*

## SQL Server folders to ignore
Relational/SQLServer/data/*
Relational/SQLServer/logs/*
Relational/SQLServer/secrets/*

## MongoDB folders to ignore
Non-Relational/MongoDB/data/*
.DS_Store

## Neo4J folders to ignore
Graph/Neo4J/data/*
